body
{
background-image: url('image.jpg');
background-attachment: fixed;
background-size: 100%;
}

legend
{
color:#FF0000;
font-size:20px;
font-family:Script MT Bold;
}

fieldset, form
{
background-color: white;
border: double;
position:absolute;
left:25%;
top:10%;
padding: 10px 10px;
}

p, li
{
font-family: Arial;
}

h2
{
font-family: Arial;
color: #FF0000;
font-size: 48px;
}

button
{
font-size: 14;
font-family: Arial;
background-color: #e7e7e7; 
border: none;
color: black;
padding: 15px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.allButton:active 
{
background-color: #e6e6e6;
box-shadow: 0 5px #666;
transform: translateY(4px);
}